/* Properties set here affect entire page */	
	html, body {
		font-family: Helvetica, sans-serif;
		color: black;
		background:url(../Images_2/IMG_1948.jpg) center center;
		background-repeat: no-repeat;
		margin-right: 6%;
		margin-left: 6%;
		padding: 0;
		}
/* Paragraph style*/
	p {
		text-align: center;
		}
	blockquote {
		text-align: center	
		}
/* Center class*/
	.center {
		text-align: center;
		margin: auto;
		}
/* Header 1 style */
	h1 {
		font-family: Helvetica;
		text-align: left;
		color: black;
		background-color: #ebe7a7;
		font-size: 100%;
		padding: 5px;
		}
/* Unordered list style*/
	ul {
		display: block;
		list-style-type: none;
		padding-top: 6px;
		margin: auto;
		width: 500px;
		}
/*List item style*/
	li.navbar {
		display: inline;
		float: left;
		}
/*Link style*/
	a:link, a:visited {
		font-family: Avenir;
		font-weight:bold;
		color:#FFFFFF;
		background-color:#127306;
		text-align:center;
		padding:6px;
		text-decoration:none;
		}
	a:hover, a:active {
		background-color:#123f06;
		}
/*Link style - regular*/
	.areg{
		text-decoration: none;
		color: #127306;
		}
/* Overall page layout */
	#page-layout {
		margin: auto
		}
/* Navigation */
	#nav {
		background: #127306;
		height: 34px;
		}
/* Header */
	#header {
		background: url("../Images_2/green_sandy_bg.jpg") ;
		height: 150px;
		padding: 10px;
		}
/* Sidebar */
	#sidebar {
		background: white;
		float: left;
		width: 200px;
		height: 152px;
		}
/* Content */
	#content {
		background-color: white;
		margin-left: 200px;
		padding: 10px;
		text-align: left;
		}
/* Footer */
	#footer {
		clear: both;
		background-color: #123f06;
		color: white;
		height: 20px;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		font-size: 90%
		}