html, body
{
	font-family: 'Lato', sans-serif;
	font-size: 105%;
	color: #000000;
	padding: 0%;
	margin:0%;
	width:100%;
	background-color: #ffffee;
}
h2
{
	font-family: 'Lato';
	color: #660000;
	margin: 5px 0px 5px 0px;
}
/*Link style - regular*/
    a:link.regg, a:visited.regg
{
	text-decoration: none;
	border-bottom: 1px dotted #ff0000;
	color: #000;
}
    a:hover.regg, a:active.regg
{
	text-decoration: none;
	color: #660000;
}
/*Link style - footer*/
 a:link.foot, a:visited.foot
 {
	text-decoration: none;
	color: #fff;
 }
 a:hover.foot, a:active.foot
 {
	text-decoration: none;
	color: #ffff66;
 }
div#main
{
	background-color: #ffffee;
	max-width: 100%;
	color:#000000;
	padding: 3%;
	vertical-align: top;
	margin:auto;
}
div#footer
{
	background-color:#660000;
	color:white;
	text-align:center;
	padding: 2%;
}
