img.frame
{
    border-top: 6px solid #990000;
    border-left: 6px solid #990000;
    width: 600px;
    height: 798px;
    padding: 20px;
    background: #660000;
    border-radius: 20px;
    box-shadow: 8px 8px 20px #111;
}
img.frame_1
{
    border-top: 6px solid #990000;
    border-left: 6px solid #990000;
    width: 750px;
    height: 477px;
    padding: 20px;
    background: #660000;
    border-radius: 20px;
    box-shadow: 8px 8px 20px #111;
}
p.center
{
    text-align: center;
}
